<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.mk.listeners.TestListeners" />
	</listeners>
	<test parallel="methods" thread-count="2" name="HRMOrangeTests">
		<classes>
			<class name="org.mk.tests.LoginTest" />
			<class name="org.mk.tests.HomeTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
